.editar-user-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.editar-user-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    width: 100%;
    margin-top: 10px;
}

form .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form .form-group label {
    margin-bottom: 5px;
}

form .form-group input {
    width: 100%;
}
